@model CrudUsingAdo.DAL.Employee
@{
    ViewData["Title"] = "Create";
}

<h3>Add New Employee</h3>

@using (Html.BeginForm())
{
    <div class="mb-3">
        <label>Employee Name</label>
        @Html.TextBoxFor(model=>model.Name)
    </div>
    <div class="mb-3">
        <label>Salary</label>
        @Html.TextBoxFor(model=>model.Salary)
    </div>
    <div class="mb-3">
        <input type="submit" value="Save" class="btn btn-outline-primary" />
    </div>
}

