@model CrudUsingAdo.DAL.Employee
@{
    ViewData["Title"] = "Details";
}

<h1>View Employee</h1>

<div class="mb-3">
    <label>Employee Id</label>
    @Html.DisplayFor(model=>model.Id)
</div>
<div class="mb-3">
    <label>Employee Name</label>
    @Html.DisplayFor(model=>model.Name)
</div>
<div class="mb-3">
    <label>Salary</label>
    @Html.DisplayFor(model=>model.Salary)
</div>
<div class="mb-3">
    @Html.ActionLink("Back to List","List","Employee")
</div>

